/* body{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
} */

.donation{
    display: flex;
    justify-content: end;
    background-image: url("/public/images/Volunteer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

#donationForm{
    width: 35rem;
    height: 33rem;
    padding: 1rem;
}

.form-donation{
    /* margin-top: -1rem; */
    
    margin: 0 2rem 10rem 2rem;
    width: 40rem;
    padding: 1rem;
    /* margin-bottom: 5rem; */
    z-index: 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.form-donation h2 {
    color: black;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: -1rem;
 
}

.form-donation .btn{
    width: 15rem;
    margin:1rem 27%; 
    color: black;
    font-weight: 600;
}